In [9]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [10]:
data1 = pd.read_csv("./results/[K=1]RMSE_data.csv")
data2 = pd.read_csv("./results/[K=2]RMSE_data.csv")
data = pd.concat([data1, data2], axis=0)
data.shape

(24000, 17)

In [7]:
data = data.sort_values(by=['seed', 'n', 'alpha'])
data.head()

,Unnamed: 0,seed,n,alpha,M,K,init_beta,init_sigma,os_beta,os_sigma,ts_beta,ts_sigma,ms_beta,ms_sigma,oracle_beta,oracle_sigma,N
0,0,0,1000,0.25,72,1,0.013050,0.301347,0.004111,0.183644,0.005537,0.183644,0.005427,0.183644,0.005718,0.185103,NaN
0,0,0,1000,0.25,72,2,0.010559,0.459625,0.014124,0.271138,0.007697,0.271138,0.007766,0.271138,0.007475,0.185066,2000.0
500,500,0,1000,0.50,72,1,0.007460,0.218997,0.005231,0.142658,0.005060,0.142658,0.005063,0.142658,0.004930,0.137314,NaN
1000,1000,0,1000,0.50,72,2,0.009427,0.269968,0.007109,0.143892,0.006975,0.143892,0.006946,0.143892,0.006801,0.110994,2000.0
1000,1000,0,1000,0.75,72,1,0.005743,0.151119,0.003850,0.128554,0.003973,0.128554,0.003972,0.128554,0.003973,0.129277,NaN

In [11]:
data.columns

Index(['Unnamed: 0', 'seed', 'n', 'alpha', 'M', 'K', 'init_beta', 'init_sigma',
       'os_beta', 'os_sigma', 'ts_beta', 'ts_sigma', 'ms_beta', 'ms_sigma',
       'oracle_beta', 'oracle_sigma', 'N'],
      dtype='object')

In [15]:
RMSE = data.loc[:, ['n', 'alpha', 'M', 'K', 
                    'init_beta',  'os_beta',  'ts_beta',  'ms_beta',  'oracle_beta', 
                    'init_sigma', 'os_sigma', 'oracle_sigma']]
RMSE_tab = RMSE.groupby(['K', 'n', 'alpha']).mean()

In [16]:
RMSE_tab["init_beta"] = RMSE_tab["init_beta"] * 1000
RMSE_tab["os_beta"] = RMSE_tab["os_beta"] * 1000
RMSE_tab["ts_beta"] = RMSE_tab["ts_beta"] * 1000
RMSE_tab["ms_beta"] = RMSE_tab["ms_beta"] * 1000
RMSE_tab["oracle_beta"] = RMSE_tab["oracle_beta"] * 1000


RMSE_tab["init_sigma"] = RMSE_tab["init_sigma"] * 100
RMSE_tab["os_sigma"] = RMSE_tab["os_sigma"] * 100
RMSE_tab["oracle_sigma"] = RMSE_tab["oracle_sigma"] * 100

RMSE_tab

                  M  init_beta    os_beta   ts_beta   ms_beta  oracle_beta  \
K n    alpha
1 1000 0.25    72.0   9.773050   7.606479  7.084153  7.088765     6.946383
       0.50    72.0   6.741628   5.070526  4.984733  4.985078     4.945360
       0.75    72.0   5.352575   4.097354  4.047333  4.047459     4.018529
       1.00    72.0   4.686250   3.523439  3.505253  3.505269     3.490063
  2500 0.25   159.0   4.141838   3.008795  2.962072  2.962226     2.936769
       0.50   159.0   2.840374   2.090068  2.076430  2.076445     2.072427
       0.75   159.0   2.303973   1.720829  1.712821  1.712824     1.710472
       1.00   159.0   1.985936   1.473487  1.469285  1.469286     1.466252
  5000 0.25   293.0   2.142956   1.550707  1.536894  1.536902     1.530168
       0.50   293.0   1.485578   1.069700  1.067541  1.067539     1.066244
       0.75   293.0   1.189616   0.871264  0.868200  0.868201     0.867557
       1.00   293.0   1.023387   0.752804  0.751326  0.751326     0.750850
2 1000 0.25    72.0  12.667298  13.648234  8.201002  8.266993     8.028376
       0.50    72.0   8.166985   6.417665  5.763766  5.767942     5.702127
       0.75    72.0   6.628277   4.947770  4.705531  4.705611     4.687450
       1.00    72.0   5.504895   4.241698  4.051622  4.051502     4.027345
  2500 0.25   159.0   5.292745   3.827006  3.399670  3.401247     3.368318
       0.50   159.0   3.482610   2.488645  2.360323  2.360413     2.354210
       0.75   159.0   2.771080   2.012047  1.955510  1.955447     1.952875
       1.00   159.0   2.349584   1.729778  1.679806  1.679774     1.676288
  5000 0.25   293.0   2.770070   1.900857  1.764564  1.764575     1.755709
       0.50   293.0   1.841606   1.279734  1.243064  1.243029     1.237902
       0.75   293.0   1.447793   1.030364  1.007418  1.007409     1.004905
       1.00   293.0   1.240647   0.892964  0.882110  0.882108     0.879505

              init_sigma   os_sigma  oracle_sigma
K n    alpha
1 1000 0.25    31.790572  20.409115     19.520938
       0.50    18.937691  13.492505     13.514272
       0.75    14.301853  10.930275     10.994205
       1.00    11.938731   9.500765      9.525018
  2500 0.25    16.357429  12.122321     12.176917
       0.50    10.389846   8.514381      8.541329
       0.75     8.089716   6.961020      6.974780
       1.00     6.867863   6.039590      6.046850
  5000 0.25    10.385549   8.536819      8.565017
       0.50     6.858271   6.037042      6.045396
       0.75     5.455016   4.943211      4.947774
       1.00     4.655984   4.272847      4.274755
2 1000 0.25    45.793250  26.828250     16.650011
       0.50    27.730867  14.939103     11.563946
       0.75    21.067727  11.328238      9.468947
       1.00    17.624122   9.447988      8.182608
  2500 0.25    23.927358  12.887201     10.440796
       0.50    15.305721   8.213870      7.353335
       0.75    12.139526   6.480951      6.005100
       1.00    10.324813   5.467687      5.164936
  5000 0.25    15.320571   8.193957      7.358110
       0.50    10.337719   5.477508      5.190323
       0.75     8.297821   4.390191      4.240929
       1.00     7.144276   3.772986      3.671306

In [17]:
RMSE_tab = pd.DataFrame(RMSE_tab)
RMSE_tab = RMSE_tab.reset_index()
RMSE_tab

,K,n,alpha,M,init_beta,os_beta,ts_beta,ms_beta,oracle_beta,init_sigma,os_sigma,oracle_sigma
0,1,1000,0.25,72.0,9.773050,7.606479,7.084153,7.088765,6.946383,31.790572,20.409115,19.520938
1,1,1000,0.50,72.0,6.741628,5.070526,4.984733,4.985078,4.945360,18.937691,13.492505,13.514272
2,1,1000,0.75,72.0,5.352575,4.097354,4.047333,4.047459,4.018529,14.301853,10.930275,10.994205
3,1,1000,1.00,72.0,4.686250,3.523439,3.505253,3.505269,3.490063,11.938731,9.500765,9.525018
4,1,2500,0.25,159.0,4.141838,3.008795,2.962072,2.962226,2.936769,16.357429,12.122321,12.176917
5,1,2500,0.50,159.0,2.840374,2.090068,2.076430,2.076445,2.072427,10.389846,8.514381,8.541329
6,1,2500,0.75,159.0,2.303973,1.720829,1.712821,1.712824,1.710472,8.089716,6.961020,6.974780
7,1,2500,1.00,159.0,1.985936,1.473487,1.469285,1.469286,1.466252,6.867863,6.039590,6.046850
8,1,5000,0.25,293.0,2.142956,1.550707,1.536894,1.536902,1.530168,10.385549,8.536819,8.565017
9,1,5000,0.50,293.0,1.485578,1.069700,1.067541,1.067539,1.066244,6.858271,6.037042,6.045396
10,1,5000,0.75,293.0,1.189616,0.871264,0.868200,0.868201,0.867557,5.455016,4.943211,4.947774
11,1,5000,1.00,293.0,1.023387,0.752804,0.751326,0.751326,0.750850,4.655984,4.272847,4.274755
12,2,1000,0.25,72.0,12.667298,13.648234,8.201002,8.266993,8.028376,45.793250,26.828250,16.650011
13,2,1000,0.50,72.0,8.166985,6.417665,5.763766,5.767942,5.702127,27.730867,14.939103,11.563946
14,2,1000,0.75,72.0,6.628277,4.947770,4.705531,4.705611,4.687450,21.067727,11.328238,9.468947
15,2,1000,1.00,72.0,5.504895,4.241698,4.051622,4.051502,4.027345,17.624122,9.447988,8.182608
16,2,2500,0.25,159.0,5.292745,3.827006,3.399670,3.401247,3.368318,23.927358,12.887201,10.440796
17,2,2500,0.50,159.0,3.482610,2.488645,2.360323,2.360413,2.354210,15.305721,8.213870,7.353335
18,2,2500,0.75,159.0,2.771080,2.012047,1.955510,1.955447,1.952875,12.139526,6.480951,6.005100
19,2,2500,1.00,159.0,2.349584,1.729778,1.679806,1.679774,1.676288,10.324813,5.467687,5.164936
20,2,5000,0.25,293.0,2.770070,1.900857,1.764564,1.764575,1.755709,15.320571,8.193957,7.358110
21,2,5000,0.50,293.0,1.841606,1.279734,1.243064,1.243029,1.237902,10.337719,5.477508,5.190323
22,2,5000,0.75,293.0,1.447793,1.030364,1.007418,1.007409,1.004905,8.297821,4.390191,4.240929
23,2,5000,1.00,293.0,1.240647,0.892964,0.882110,0.882108,0.879505,7.144276,3.772986,3.671306

In [18]:
RMSE_tab.to_csv("./results/RMSE_tab.csv")

NameError: name 'HIML_tab' is not defined